body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: darkturquoise; }

#slides {
  position: relative;
  height: 300px;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex; }
  #slides .slide {
    position: absolute;
    width: 300px;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 10px solid;
    margin: 75px; }
    #slides .slide img {
      width: 200px;
      transform: scale(1);
      position: relative;
      animation: scale_bounce 1.2s .4s forwards;
      -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
      left: -74px;
      bottom: 45px; }

.slide {
  min-width: 150px;
  height: 50%;
  -webkit-transition: min-width 1s;
  -moz-transition: min-width 1s;
  -o-transition: min-width 1s;
  transition: min-width 1s; }

.last {
  right: 0; }

.first {
  left: 0; }

.showing {
  margin: 0 auto;
  left: 0;
  right: 0;
  min-width: 250px;
  transform: scale(2);
  z-index: 2;
  height: 100%; }

.controls {
  display: inline-block; }

.slide:nth-of-type(1) {
  z-index: 1; }

.slide:nth-of-type(2) {
  z-index: 1; }

.slide:nth-of-type(3) {
  z-index: 1; }

.controls {
  background-color: transparent;
  color: darkslategray;
  border: none;
  padding: 20px 0px;
  font-size: 80px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
  border: none; }

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333; }

.container {
  position: relative;
  top: 25vh; }

.buttons {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  z-index: 10;
  font-size: 0px; }

button#next {
  float: right; }
